{:source-paths ["src"]

 :dependencies [[funcool/promesa "8.0.450"]]

 :builds
 {:package {:target :node-library
            :js-options {:js-provider :shadow
                         :keep-native-requires true
                         :keep-as-require #{"atom" "electron"}}

            :compiler-options {:infer-externs :auto}
            :exports {;; Generic LSP
                      :generic-lsp-activate generic-lsp.core/activate
                      :generic-lsp-deactivate generic-lsp.core/deactivate
                      :generic-lsp-config generic-lsp.config/config

                      :generic-lsp-provider generic-lsp.provider/provider
                      :generic-lsp-status-bar-consumer generic-lsp.status-bar/consumer
                      :generic-lsp-complete-provider generic-lsp.complete/provider
                      :generic-lsp-intentions-list generic-lsp.intentions/list-intentions
                      :generic-lsp-intentions-provide generic-lsp.intentions/provider
                      :generic-lsp-datatip-consumer generic-lsp.datatip/consumer
                      :generic-lsp-linter-consumer generic-lsp.linter/consumer}
            :output-to "star-ring.js"}}}
