{:source-paths ["src"]

 :dependencies [[funcool/promesa "8.0.450"]
                [reagent "1.1.1"]
                [re-frame "1.3.0"]]

 :builds
 {:package {:target :node-library
            :js-options {:js-provider :shadow
                         :keep-native-requires true
                         :keep-as-require #{"atom" "electron" "@npmcli/arborist"}}

            :compiler-options {:infer-externs :auto}
            :exports {;; Generic LSP
                      :generic-lsp-activate generic-lsp.core/activate
                      :generic-lsp-deactivate generic-lsp.core/deactivate
                      :generic-lsp-config generic-lsp.config/config
                      :generic-lsp-provider generic-lsp.provider/provider
                      :generic-lsp-status-bar-consumer generic-lsp.status-bar/consumer
                      :generic-lsp-complete-provider generic-lsp.complete/provider
                      :generic-lsp-intentions-list generic-lsp.intentions/list-intentions
                      :generic-lsp-intentions-provide generic-lsp.intentions/provider
                      :generic-lsp-datatip-consumer generic-lsp.datatip/consumer
                      :generic-lsp-linter-consumer generic-lsp.linter/consumer

                      :star-linter-activate star-linter.core/activate
                      :star-linter-deactivate star-linter.core/deactivate
                      :star-linter-ui star-linter.core/linter-ui

                      :minivac-activate minivac.core/activate
                      :minivac-deactivate minivac.core/deactivate
                      :minivac-config minivac.core/config

                      :vs-activate vs-pulsar.core/activate
                      :vs-deactivate vs-pulsar.core/deactivate

                      :ring-package-manager-activate ring-package-manager.core/activate
                      :ring-package-manager-deactivate ring-package-manager.core/deactivate
                      :ring-package-manager-provider ring-package-manager.core/provider}
            :output-to "star-ring/common.js"
            :output-dir "star-ring"}}}
